@model IEnumerable<FacSystemPropietaria.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion de facturas</h2>

<p>
    <span class="btn btn-primary">@Html.ActionLink("Crear nueva", "Create")</span>   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
