@model IEnumerable<FacSystemPropietaria.Models.AccountSeat>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asientos contables</h1>
    <p class="lead">
        Almacenan la informacion producida por el sistema de facturacion de forma que pueda ser enviada a un modulo de resguardo, al igual que se puedan consultar
        los asientos enviados por este sistema.
    </p>
</div>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-4">
            <h2>Asientos pendientes</h2>
            <p>
                -Visibles a la derecha, si hay pendiente(s) por enviar-.
            </p>
            <!-- hacer que solo aparezca se falta asiento por enviar. -->
            <div class="col-md-6">
               <a class="btn btn-success btn-block" href="#">Enviar pendientes</a>
            </div><p></p>
            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block">Ver asientos enviados</a>
            </div>
            
        </div>
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeatDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeatAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                </tr>

                @foreach (var item in Model)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                    </tr>
                 }
            </table>
        </div>
    </div>
 }